@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yanone+Kaffeesatz&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yanone Kaffesatz', sans-serif;
    letter-spacing: 1.5px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #fba919;
}